html {
  background-image: url('../public/bluesky.jpg');
}

.horizontal_hours {
  display: flex;
  justify-content: center;
  border: 0px solid blue;
}

.hourly_item {
  padding: 0em 1.5em 0em 1.5em;
  border: 0px solid;
  border-radius: 5em;
  background-color: #D3D3D3;
  text-align: center;
}

.day_item {
  padding: 0em 1.5em 0em 1.5em;
  border: 0px solid;
  border-radius: .5em;
  background-color: #D3D3D3;
  text-align: center;
  }

.spacer {
  width: 1em;
}

.temp_bold {
  font-weight: bold;
}

.small_italic {
  font-style: italic;
  font-size: .8em;
}